// @import "@fortawesome/fontawesome-free/css/all.css";
// @import "node_modules/bootstrap/scss/bootstrap";
@import "de";
@import "card";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 5px;
  background-color: black;
  color: white;
  align-items: center;
}

.case {
  font-size: 14px;
  text-align: center;
  width: 65px;
  height: 65px;
  border: 1px solid #01ffc3;
  border-radius: 20%;
  padding: 10px;
  margin: 5px;
}
.plateau-container {
  padding: 0 30px;
  border: none;
  height: auto;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.empty {
  border: none;
  font-size: 14px;
  text-align: center;
  width: 65px;
  height: 65px;
  border-radius: 20%;
  padding: 10px;
  margin: 5px;
}

.long {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-right: 80px;
  border-radius: 50%;
  text-align: center;
}

.img-pont {
  position: absolute;
  width: 25px;
  height: 25px;
}

.mort {
  position: absolute;
  width: 25px;
  height: 25px;
}

.color1 {
  background-color: #2ab8c8;
}

.color2 {
  background-color: #a37bb6;
  border: 1px solid #a37bb6;
}

.color3 {
  background-color: #e72d77;
  border: 1px solid #e72d77;
}

.border-b-r {
  border-bottom-right-radius: 80px;
}

.border-t-r {
  border-top-right-radius: 80px;
}

.border-t-l {
  border-top-left-radius: 80px;
}

.border-b-l {
  border-bottom-left-radius: 80px;
}
.actual {
  background-color: red;
  border: 1px solid red;
}
