// @import "@fortawesome/fontawesome-free/css/all.css";
// @import "node_modules/bootstrap/scss/bootstrap";

@use 'assets/variables' as *;
@import "assets/de";
@import "assets/card";
@import "assets/regles";
@import "assets/about";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  align-items: center;
  font-family: $font;
}
header {
  height: 8%;
  background-color: $card-color1;
  color: white;
  nav {
    height: 100%;

    ul {
      display: flex;
      height: 100%;
      list-style-type: none;
      padding: 0;
      padding-right: 60px;
      align-items: center;
      justify-content: flex-end;
      li {
        margin: 0 15px;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        &::before {
          content: "";
          height: 1px;
          width: 0%;
          background-color: white;
          position: absolute;
          top: 22px;
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s;
        }
        &.active {
          &::before {
            width: 100%;
          }
        }
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}
.ligne {
  height: 11%;
  padding: 5px 0;
}
.case {
  font-size: 16px;
  width: 65px;
  height: 100%;
  border: 1px solid #01ffc3;
  border-radius: 20%;
  padding: 10px;
  margin: 0 5px;
  position: relative;
  img {
    height: 55px;
    width: auto;
    position: absolute;
    z-index: 1;
    &.img-mort {
      top: 17px;
      left: 26px;
    }
    &.img-pont {
      top: 17px;
      left: 18px;
    }
    &.img-puit {
      top: 20px;
      left: 22px;
    }
    &.img-oie {
      height: 65px;
      top: 10px;
      left: 15px;
    }
    &.img-card {
      top: 18px;
      left: 35px;
      height: 45px;
      transform: rotate(20deg);
      box-shadow: -2px 4px 5px rgba(0, 0, 0, 0.6);
    }
    &.img-logo {
      height: 163px;
      top: 23px;
      left: -26px;
      transform: rotate(12deg);
      z-index: -1;
    }
  }
}
.view-jeu {
  height: 92%;
  align-items: center;
}
.plateau-container {
  padding: 0 30px;
  border: none;
  height: 95%;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.empty {
  border: none;
  font-size: 14px;
  text-align: center;
  width: 65px;
  height: 65px;
  border-radius: 20%;
  padding: 10px;
  margin: 5px;
}

.long {
  position: absolute;
  width: 130px;
  height: 130px;
  margin-right: 80px;
  border-radius: 50%;
  text-align: center;
}

.color1 {
  background-color: $card-color1;
}

.color2 {
  background-color: $card-color2;
  border: 1px solid $card-color2;
}

.color3 {
  background-color: $card-color3;
  border: 1px solid $card-color3;
}
.action {
  background-color: $special-color;
  border: 1px solid $special-color;
}
.border-b-r {
  border-bottom-right-radius: 80px;
}

.border-t-r {
  border-top-right-radius: 80px;
}

.border-t-l {
  border-top-left-radius: 80px;
}

.border-b-l {
  border-bottom-left-radius: 80px;
}
.actual {
  background-color: $pion-color;
  border: 1px solid $pion-color;
  color: $primary-color;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: absolute; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  display: none;
}
.modal-question {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
  background-color: $pion-color;
  border: 20px solid #c2b200;
  border-radius: $diceRadius;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    color: $diceBg;
  }
}
.modal-case-special {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
  background-color: $pion-color;
  border: 20px solid #c2b200;
  border-radius: $diceRadius;
  transition: all 0.5s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  p {
    color: $diceBg;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    width: 300px;
    font-weight: bold;
  }
  button {
    padding: 7px 35px;
    border: none;
    border-radius: 5px;
    background-color: $card-color3;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  img {
    height: 200px;
    width: auto;
  }
}
