@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

// color
$diceBg: #131210;
$primary-color: black;
$card-color1: #2ab8c8;
$card-color2: #a37bb6;
$card-color3: #e72d77;
$pion-color: #ffea00;
$special-color: #8600b8;
$arrivee: #ff6db6;

$diceRadius: 20px;
$font: "Goldman", cursive;
